<!-- Image Upload Modal -->
<div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="imageUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--  <div class="modal-header">
        <h5 class="modal-title" id="decisionModalLabel">Friend Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

<!-- Dentro del modal crearemos un formulario que permite al usuario
      cargar cualquier imagen de tipo jpeg, gif o png.-->
      <div class="modal-body">
        <h5 class="modal-title" id="imageUploadModalLabel"> Change Profile Picture </h5>
<!--La variable de objeto que se utiliza va a ser el objeto de usuario una vez pasado como
referencia por el método de render como veremos en la vista show usuario.-->
        <%= form_for(object, html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: object %>

          <div class="field">
            <%= f.label :Profile_image %><br/>
            <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
          </div>

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>

<!--Esta función devuelve una alerta cuando el archivo de imagen cargado
tiene un tamaño superior a 1 Mb.-->
<script type="text/javascript">
  document.getElementById('user_image').addEventListener('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 1) {
      alert('Maximum file size is 1 MB. Please choose a smaller file.');
    }
  });
</script>
