<!-- Modal -->
<!--sgte: contenedor que va a hacer que desaparezca, clase contendora de todos los elementos de
un modal (bootstrap). con aria-labelledby (etiquetado por) según etiqueta al id del modal-header
aria-hidden es para las tech de asistencia. La clase fade es para que realice una animación
al mostrar la ventana modal.-->
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document"> <!--el modal content necesita otro contenedor-->
    <div class="modal-content"> <!--contenido del encabezado de la ventana modal-->
      <!--sgte.: encabezado de ventana modal-->
      <div class="modal-header">
        <!--sgte.: título de ventana modal-->
        <h5 class="modal-title" id="noticeModalLabel">Notifications <%= current_user.notifications.count%></h5>
<!--sgte.: boton clase close, con atributo data-dismiss="modal" lo cual ocasiona que al hacer
click en éste se cierra la ventana modal. aria label es para las tech de asistencia="Close"-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<!--&times; es símbolo de cerrar con aria-hidden="false or false, como prefieras"-->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--sgte.: cuerpo de ventana modal-->
      <div class="modal-body">
      <!-- Al igual que el renderizado modal de Imagen, el renderizado modal de Notificaciones
      pasa una variable de objeto: app/views/layouts/_header.html.erb-->

        <!--Aside from the friendship request notification all other notifications provide a link to
        the liked content using the notification_find helper we created in the application_helper file.-->
        <% object.each do |n|%>
          <!-- If Notification type is a Friend Request -->
          <% if n.notice_type == "friendRequest"%>
            <% user = notification_find(n, 'friendRequest')%>
            <%= "Friend Request sent from #{user.full_name}" %>
          <% end %>
          <!-- If Notification type is a comment -->
          <% if n.notice_type == "comment"%>
            <%= link_to post_path(notification_find(n, 'comment')) do %>
               Someone commented on your post
            <% end %>
          <% end %>
          <!-- If Notification type is a liked post -->
          <% if n.notice_type == "like-post"%>
            <%= link_to post_path(notification_find(n, 'like-post')) do %>
               Someone liked your post
            <% end %>
          <% end %>
          <!-- If Notification type is a liked comment -->
          <% if n.notice_type == "like-comment"%>
            <%= link_to post_path(notification_find(n, 'like-comment')) do %>
               Someone liked your comment under this post
            <% end %>
          <% end %>
          <br>
        <% end %>
      </div>
      <!--sgte.: pie de páginade ventana modal-->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
