= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.label :email
  = f.email_field :email, autofocus: true, required: true, class:"mdl-textfield__input"

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.label :password
  = f.password_field :password, autofocus: true, class:"mdl-textfield__input"

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.label :password_confirmation
  = f.password_field :password_confirmation, class:"mdl-textfield__input"

  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.label :username
  = f.text_field :username, autofocus: true, class:"mdl-textfield__input"


  = f.submit "Registrar"
  = link_to "Ya tengo cuenta", new_user_session_path
