<div class="col-md-6 mx-auto mb-5">
  <div class="p-responsive mt-4 mt-md-8"">
    <div class="text-mono text-center text-gray-light text-normal mb-3">Join</div>
    <h1 class="d-none d-md-block mt-0 mb-3 text-center h00-mktg lh-condensed-ultra ">Create your account</h1>
  </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group row">
           <%= f.label :name %>
           <%= f.text_field :name, class:"form-control", autofocus: true, autocomplete: "name" %>
        </div>

        <div class="form-group row">
           <%= f.label :last_name %><br />
           <%= f.text_field :last_name, class:"form-control", autofocus: true, autocomplete: "last_name" %>
        </div>

       <div class="form-group row">
          <%= f.label :email%>
          <%= f.email_field :email, class:"form-control", autofocus: true, required: true%>
        </div>
        <div class="form-group row">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class:"form-control", autofocus: true%>
        </div>
        <div class="form-group row">
          <%= f.label :password_confirmation%>
          <%= f.password_field :password_confirmation, class:"form-control"%>
        </div>

        <div class="form-group row">
          <%= f.label :username%>
          <%= f.text_field :username, class:"form-control", autofocus: true%>
        </div>
        <div class="picture form-group row">
          <%= f.label :upload_your_profile_picture %><br />
          <%= f.file_field :image, class:"form-control", class:"btn btn-outline-primary", accept: 'image/jpeg,image/gif,image/png' %>
        </div>

        <div class="actions">
          <div class="form-group row">
            <%= f.submit "Create account", class:"form-control btn btn-primary"%>
          </div>
        </div>

        <div class="form-group row">
           <%= link_to "Sign in", new_user_session_path, class:"btn btn-outline-primary"%>
        </div>


    <%end%>
</div>

<!-- error de alerta cuando el archivo cargado tiene un tamaño superior a 1 MB.-->
<script type="text/javascript">
document.getElementById('user_image').addEventListener('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 1) {
    alert('Maximum file size is 1 MB. Please choose a smaller
    file.');
  }
});
</script>
