<div class="col-md-6 mx-auto mb-5">
  <div class="p-responsive mt-4 mt-md-8"">
    <h2 class="d-none d-md-block mt-0 mb-3 text-center h00-mktg lh-condensed-ultra">Sign in to Site</h2>
  </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
    <div class="form-group">
      <%= f.label :email%><br/>
      <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email"%>
    </div>
    <div class="form-group">
      <%= f.label :password%>
      <%= f.password_field :password, class:"form-control", autocomplete: "current-password"%>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="d-flex form-group">
        <p class="ml-3"> <%= f.check_box :remember_me %></p>
        <p class="ml-2">remember_me</p>
      </div>
    <% end %>

    <div class="actions">
      <div class="form-group">
        <%= f.submit "Sign in", class:"form-control btn btn-primary"%>
      </div>
    </div>
    <% end %>
    <p class="create-account-callout mt-3"> New to site? Create your account.
      <%= render "devise/shared/links"%>
    </p>
  </div>
