= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = devise_error_messages!

  = f.email_field :email, autofocus: true, autocomplete: "email"
  = f.label :email

  = f.password_field :password, autocomplete: "current-password"
  = f.label :password

  = f.submit "Iniciar sesión"

  =link_to "Crear registro", new_user_registration_path
