<br>
<div class="col-md-6 mx-auto mb-5">
  <div class="container p-3 mb-2 bg-dark text-white rounded">
    <div class="col-auto p-0 px-1">
      <div class="col-auto p-0">
        <div class="">
                  <%= @user.image if @user.image?%>          
        </div>

        <%= @user.username%>
        <%= @user.name %>
        <%= @user.last_name %>

            <button class= "btn btn-dark shadow" data-toggle="modal" data-target="#decisionModal">
              <i class="fas fa-user-friends"></i> Send Request
            </button>
          </div>
        </div>
    <!--% unless @are_friends %>
      	<!%= button_to friendship_path(friend_id: @user.id), method: :post, remote: true, :"data-type" => "script" %>
    <!% end %>
    -->
  </div>

  <div class="container p-3 mb-2 bg-dark text-white rounded">

    <h4>
    Publicaciones:
      <%= @user.posts.count%>
    </h4>
      <h4>
    Bio:
      <%= @user.bio%>
  </div>
</div>

<div class="col-md-6 mx-auto mb-5">
    <%= form_with model: @user, local: true do |form| %>
    <div class="form-group row">
      <div class="col">
        <%= form.label :username%>
        <%= form.text_field :username, class:"form-control col"%>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <%= form.label :name%>
        <%= form.text_field :name, class:"form-control col"%>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <%= form.label :last_name%>
        <%= form.text_field :last_name, class:"form-control col"%>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <%= form.label :bio%>
        <%= form.text_area :bio, class:"form-control col"%>
      </div>
    </div>

      <!--%= form.label :avatar%>
      <!%= form.file_field :avatar%>
      <br>
      <!%= form.label :cover%>
      <!%= form.file_field :cover%>
      <br> -->
      <%= form.submit "Update", class:"btn btn-success"%>
    <%end%>
</div>
