<%= form_with model: @post do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error")%> prohibited this post from being saved: </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <%end%>
      </ul>
    </div>
  <%end%>

  <%= form.label :body,"Comparte con la comunidad", class:"mdl-textfield_label"%>
  <%= form.text_area :body, class: "mdl-textfield_input", rows: "3"%>

  <%= form.submit 'Publicar', class:"btn btn-primary" %>

<%end%>
