= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .mdl-textfield.mdl-js-textfield
    = f.label :body,"Comparte con la comunidad", class:"mdl-textfield_label"
    = f.text_area :body, class: "mdl-textfield_input", rows: "3"

  .actions
    = f.submit 'Publicar', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
