<!DOCTYPE html>
<html>
  <head>
    <title>Socialnetwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-indigo.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <p style="<%= 'display:none;' if notice.nil? && alert.nil? %>"><%= notice %><%= alert %></p>
      <div class="mdl-layout mdl-js-layout">
        <%= render "partials/nav" %>
        <%= yield %>
    </div>
  </body>
</html>
